<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        Header area
    </header>

    <div>
        @RenderBody()
    </div>
    <footer>
        Footer area
    </footer>
</body>
</html>
